.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  

  /* 툴바 css */
  .rbc-toolbar {
    padding: 10px;
    margin-bottom: 0 !important;
    color: #fff;
    font-weight: bold;
    background-color: #121212;
  }
  .rbc-toolbar button {
    color: #fff !important;
  }
  .rbc-toolbar button:active,
  .rbc-toolbar button:focus,
  .rbc-toolbar button.rbc-active,.rbc-toolbar button:hover {
    background-color: #3375ff !important;
  }
  .rbc-btn-group {
    position: absolute;
    left: 20px;
  }

  @media (max-width: 640px){
    .rbc-btn-group {
        transform: scale(0.8);
        left: 0px;
    }
  }
  
  /* 캘린더 일자 커스텀 */
  .rbc-month-view {
    border: none !important;
  }
  .rbc-month-header .rbc-header {
    border-left: 1px solid transparent !important;
    font-size: 1em !important;
    padding: 10px !important;
  }
  .rbc-month-header .rbc-header > * {
    padding: 10px !important;
  
  }
  
  .rbc-date-cell {
    padding-top: 10px;
    padding-left: 10px !important;
    text-align: left !important;
  }
